<template>
  <div>
    <div class="card card-body bg-transparent">
      <h3 class="text-center d-inline">
        <img src="@/assets/sprout.svg" width="15" /> Projeto Plantaí
      </h3>
      <hr />
      <div id="texto">
        <span>
          Plantaí é um projeto criado em 2018 por um grupo de alunos da turma de Sistemas de Informação 2017 da
          Universidade
          Federal do Sul e Sudeste do Pará.
        </span>
        <span>
          O objetivo desse aplicativo é promover a plantação e cultivo de árvores em áreas urbanas de maneira
          divertida e
          interativa.
          Em meio ao desenvolvimento urbano sobra cada vez menos espaço para as árvores, tais seres vivos tão
          fundamentais
          para a existência
          humana, capaz de prover alimento, sombra, lar e principalmente oxigênio. Esses vegetais vão se
          tornando cada vez mais raros em meio a floresta de pedra, e o desmatamento deixa um rastro de destruição por
          onde passa.
        </span>
        <span>
          Para quem tem vontade de fazer algo em relação a isso, mas ainda não encontrou motivação o suficiente, o
          Plantaí
          é
          um atrativo para as boas ações, basta ir ao local em que deseja plantar, realizar a plantação, entrar no
          site e
          adicionar
          a espécie de árvore plantada, o navegador obtem a localização atual e registra a plantação nesse lugar. Com
          o
          tempo, a árvore
          vai crescer e dar frutos, e isso pode ser acompanhado por aqui também!
        </span>
      </div>
    </div>

    <div>
      <vs-divider color="success">Créditos</vs-divider>

      <vs-row vs-type="flex" vs-justify="space-around" >
        <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="4" vs-sm="12">
          <vs-card class="cardx">
            <div slot="header">
              <h3>Brayan Ferreira</h3>
            </div>
            <div slot="media">
              <img src="@/assets/equipe/brayan.jpeg"/>
            </div>
            <div>
              <span>"Cachorra"</span>
            </div>
            <div slot="footer">
              <vs-row vs-justify="flex-end">
                <a href="https://www.instagram.com/" target="blank"><vs-button type="gradient" color="danger" icon="favorite"></vs-button></a>
              </vs-row>
            </div>
          </vs-card>
        </vs-col>
<!--      </vs-row>-->
<!--      <vs-row vs-justify="center">-->
        <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="4" vs-sm="12">
          <vs-card class="cardx">
            <div slot="header">
              <h3>Evander Silva</h3>
            </div>
            <div slot="media">
              <img src="@/assets/equipe/evander.jpeg" />
            </div>
            <div>
              <span>"Tem crianças aqui?!"</span>
            </div>
            <div slot="footer">
              <vs-row vs-justify="flex-end">
                <a href="https://www.instagram.com/" target="blank"><vs-button type="gradient" color="danger" icon="favorite"></vs-button></a>
              </vs-row>
            </div>
          </vs-card>
        </vs-col>
      </vs-row>

      <vs-row vs-type="flex" vs-justify="space-around">
        <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="4" vs-sm="12">
          <vs-card class="cardx">
            <div slot="header">
              <h3>Gustavo Carvalho</h3>
            </div>
            <div slot="media">
              <img src="@/assets/equipe/gustavoCarvalho.jpg" />
            </div>
            <div>
              <span>"Febre Amarela, Febre Amar Ela."</span>
            </div>
            <div slot="footer">
              <vs-row vs-justify="flex-end">
                <a href="https://www.instagram.com/carvalho_crvl/" target="blank"><vs-button type="gradient" color="danger" icon="favorite"></vs-button></a>
              </vs-row>
            </div>
          </vs-card>
        </vs-col>
<!--      </vs-row>-->

<!--      <vs-row vs-justify="center">-->
        <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="4" vs-sm="12">
          <vs-card class="cardx">
            <div slot="header">
              <h3>Gustavo Felipe</h3>
            </div>
            <div slot="media">
              <img src="@/assets/equipe/gustavoFelipe.jpeg" />
            </div>
            <div>
              <span>"Boa tarde Haroldo"</span>
            </div>
            <div slot="footer">
              <vs-row vs-justify="flex-end">
                <a href="https://www.instagram.com/" target="blank"><vs-button type="gradient" color="danger" icon="favorite"></vs-button></a>
              </vs-row>
            </div>
          </vs-card>
        </vs-col>
      </vs-row>
    </div>
  </div>
</template>

<script>

import '../assets/equipe/gustavoCarvalho.jpg'

export default {
  name: "About"
};
</script>
<style scoped>
span {
  text-align: justify;
  align-self: center;
  align-items: center;
}
#texto{
  padding: 20px;
  align-items: center;
  align-content: center;
}
.cardx {
  margin: 15px;
}
</style>
