<template>
  <div>
    <div>{{ info }}</div>
    <input type="file" name="userFile" ref="myFiles" v-on:change="handleFile" />
    <input type="button" v-on:click="sendFile" value="Enviar" name="submit" />
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Axios",
  data() {
    return {
      info: null,
      files: null
    };
  },
  methods: {
    handleFile() {
      this.files = this.$refs.myFiles.files;
    },
    sendFile() {
      let formData = new FormData();
      formData.append("file", this.files[0]);
      axios.post("http://localhost:3001/api/image/save", formData, {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      });
    }
  },
  mounted() {
    axios.defaults.headers.common = {
      Authorization: `Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVkZDVlMzgyMWM5ZDQ0MDAwMDQ4YWM3ZiIsImxvZ2luIjoiam9hbyIsImV4cCI6MTU4MTgwMDQ4NCwiaWF0IjoxNTc2NjE2NDg0fQ.AHentnQlgcd2Wi8Nrn6rf4JbmL-CiEXGKCsynf1X7tM`
    };
    axios
      .get("http://localhost:3001/api/arvore/findAllArvore")
      .then(response => (this.info = response.data));
  }
};
</script>