<template>
  <div>{{ info }}</div>
</template>

<script>
import axios from 'axios'

export default {
  name: "AxiosTest",
  data() {
    return {
      info: null
    };
  },
  mounted() {
    axios
      .get("http://localhost:3001/api/arvore/findAllArvore")
      .then(response => (this.info = response));
  }
};
</script>