<template>
  <div>
    <vs-button @click="toggleCadastrarArvore()" color="success" type="gradient">Cadastrar Espécie</vs-button>
    <vs-prompt
      color="success"
      title="Cadastrar Espécie de Árvore"
      @accept="cadastrarArvore"
      @close="close"
      :active.sync="activePrompt_cad">
      <div class="con-exemple-prompt">
        <vs-input 
        label-placeholder="Nome" 
        v-model="nome" 
        :danger="unnamed"
        danger-text="Nome incorreto"
        @focusout="nameValidation()"
        />
        <br>
        <vs-textarea 
        placeholder="Descrição" 
        v-model="descricao"
        @focusout="descriptionValidation()"
        />
        Foto:
        <br>
        <input 
        type="file" 
        v-on:change="handleFile" 
        ref="myFiles" 
        placeholder="Foto"
        @change="previewImage"
        />
        <img :src="imageData" class="preview">
      </div>
    </vs-prompt>

  </div>
</template>

<script>
  import axios from "axios";

  export default {
    name: "CadastroArvore",
    data() {
      return {
        nome: '',
        descricao: '',
        img: [],
        activePrompt_cad: false,
        unnamed: false,
        noDescription: false,
        noPhoto: false,
        photo: null,
        imageData: '',
      };
    },
    methods: {
      toggleCadastrarArvore() {
        this.activePrompt_cad = true
      },
      close() {
        this.$vs.notify({
          color: 'danger',
          title: 'Closed',
          text: 'You close a dialog!'
        })
      },
      acceptAlert(color, message) {
        this.$vs.dialog({
          type: 'confirm',
          color: 'warning',
          title: `Confirmação`,
          text: 'Confirma o Cadastro da Espécie de Árvore?',
          accept: this.cadastrarArvore()
        })
      },
      handleFile() {
        this.img = this.$refs.myFiles.files;
        console.log(this.img);
      },
      cadastrarArvore() {
        if(this.allValidations()){
        axios.defaults.headers.common = {
          Authorization: `Bearer ` + localStorage.getItem('token')
        };

        let formData = new FormData();

        formData.append('nome', this.nome);
        formData.append('descricao', this.descricao);
        formData.append("file", this.img[0]);

        axios.post(process.env.HOST + "/api/arvore/putArvore", formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        });
         this.openCorrectAlert()
        }else{
          this.openIncorrectAlert()
        }
      },
      nameValidation(){
        if(this.nome === ''){
          this.unnamed = true
          return true
        }else{
          this.unnamed = false
          return false
        }
      },
      descriptionValidation(){
        if(this.descricao === ''){
          this.noDescription = true
          return true
        }else{
          this.noDescription = false
          return false
        }
      },
      photoValidation(){
        if(this.imageData == ''){
          this.noPhoto = true
          return true
        }else{
          this.noPhoto = false
          return false
        }
      },
      allValidations(){
        if(this.nameValidation() ||
        this.descriptionValidation() ||
        this.photoValidation()){
          return false
        }else{
          return true
        }
      },
      openIncorrectAlert() {
      this.$vs.dialog({
        color: "danger",
        title: `Aviso!`,
        text:
          "Existem erros nos dados inseridos. Corrija-os e tente novamente."
      });
    },
    openCorrectAlert() {
      this.$vs.dialog({
        color: "success",
        title: `Sucesso!`,
        text: "Árvore cadastrada com sucesso!"
      });
    },
    previewImage: function(event) {
            var input = event.target;
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = (e) => {
                    this.imageData = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            }
    }
    }
  }
</script>

<style scoped>
img.preview {
    width: 200px;
    background-color: white;
    border: 1px solid #DDD;
    padding: 5px;
}

</style>
