<template>
  <div>
    <h1>Painel de Controle</h1>


    <br><br>
    <h2>Usuários</h2>
    <vs-list-header/>
    <vs-list>
      <div v-for="usuario in usuarios" :key="usuario._id">
        <vs-list-item
          :title="usuario.nome + ' - (' + (usuario.acesso == 1 ? 'Admin' : 'Plantador') + ')'"
          :subtitle="usuario.login"
        >
          <!--          <vs-switch color="dark" v-model="usuario.acesso == 1 ? true : false" style="margin-bottom: 4px" @click="changeAcesso">-->
          <!--            <span slot="on">Admin</span>-->
          <!--            <span slot="off">Normal</span>-->
          <!--          </vs-switch>-->
          <vs-button color="primary" type="gradient" :to="/dashboard/+usuario._id">Editar</vs-button>
          <vs-button color="danger" type="gradient" @click="confirmDeleteUsuario(usuario._id)">Remover</vs-button>
        </vs-list-item>
      </div>
    </vs-list>

    <br><br>


    <!--  Editar Árvore  -->
    <EditarArvore
      :arvore="arvore_editada"
      :activePrompt_edit="activePrompt_edit"
      @reset-active-prompt="activePrompt_edit = $emit"
    ></EditarArvore>

    <br><br>

    <vs-row vs-justify="space-between" vs-type="flex">
      <h2>Árvores</h2>
      <CadastrarArvore></CadastrarArvore>
    </vs-row>
    <vs-list-header/>
    <vs-list>
      <div v-for="arvore in arvores" :key="arvore._id">
        <vs-list-item
          :title="arvore.nome"
          :subtitle="arvore.descricao">
          <vs-button @click="toggleEditarArvore(arvore._id)" color="primary" type="gradient">Editar</vs-button>
          <vs-button color="danger" @click="confirmDeleteArvore(arvore._id)">Remover</vs-button>
        </vs-list-item>
      </div>
    </vs-list>


  </div>
</template>

<script>
  import axios from "axios";
  import CadastrarArvore from "./CadastrarArvore";
  import EditarArvore from "./EditarArvore";

  export default {
    name: "Dashboard",
    components: {CadastrarArvore, EditarArvore},
    data() {
      return {
        arvores: null,
        loading: true,
        usuarios: null,
        selected: [],
        activePrompt_cad: false,
        activePrompt_edit: false,
        activeConfirm: false,
        arvore_editada: null,
        id_removed_tree: null,
        id_removed_user: null,
        switch_acesso: false
      };
    },
    methods: {
      fetchUsuarios() {
        axios
          .get(process.env.HOST + "/api/usuario/findAllUsuario")
          .then(response => (this.usuarios = response.data.data));
      },
      fetchArvores() {
        axios
          .get(process.env.HOST + "/api/arvore/findAllArvore")
          .then(response => (this.arvores = response.data["data"]));
      },
      confirmDeleteUsuario(id) {
        this.id_removed_user = id;
        this.$vs.dialog({
          type: 'confirm',
          color: 'danger',
          title: `Confirmar`,
          text: 'Confirma a exclusão do usuário?',
          accept: this.removeUsuario
        });
      },
      removeUsuario() {
        let id = this.id_removed_user;
        axios
          .get(process.env.HOST + "/api/usuario/deleteUsuario/" + id)
          .then(() => {
            this.fetchUsuarios();
            this.$vs.notify({
              title: "Sucesso!",
              text: "Usuário Removido!",
              color: "success"
            });
          });
      },
      confirmDeleteArvore(id) {
        this.id_removed_tree = id;

        this.$vs.dialog({
          type: 'confirm',
          color: 'danger',
          title: `Confirmar`,
          text: 'Confirma a exclusão da espécie de árvore?',
          accept: this.removeArvore
        });
      },
      removeArvore() {
        let id = this.id_removed_tree;
        axios
          .delete(process.env.HOST + "/api/arvore/deleteArvore/", {data: {id}})
          .then(() => {
            this.fetchArvores();
            this.$vs.notify({
              title: "Sucesso!",
              text: "Árvore Removida!",
              color: "success"
            });
          });
      },
      acceptAlert(color, message) {
        this.$vs.notify({
          color: 'success',
          title: 'Sucesso!',
          text: message
        })
      },
      close() {
        this.$vs.notify({
          color: 'danger',
          title: 'Closed',
          text: 'You close a dialog!'
        })
      },
      toggleEditarArvore(id) {
        axios
          .get(process.env.HOST + "/api/arvore/findArvore/" + id)
          .then(response => (this.arvore_editada = response.data[0]));
        this.activePrompt_edit = true
      }
    },
    created() {

      axios.defaults.headers.common = {
        Authorization: `Bearer ` + localStorage.getItem('token')
      };

      this.fetchUsuarios();
      this.fetchArvores();
    },
    changeAcesso() {
      console.log('aaaa')
    }
  };
</script>

<style lang="stylus" scoped>
  .header-table
    padding 10px
</style>
