<template>
  <div>
    <vs-prompt
      color="success"
      title="Editar Espécie de Árvore"
      @accept="editarArvore"
      @close="close"
      :active.sync="activePrompt_edit">
      <div class="con-exemple-prompt">
        Nome:
        <vs-input placeholder="Nome" v-model="arvore.nome"/>
        <br>
        Descrição:
        <vs-textarea v-model="arvore.descricao"/>
        Foto:
        <br>
        <LoadImage :image_buffer="arvore.img" width="300px"></LoadImage>
        <br>
        <input type="file" v-on:change="handleFile" ref="myFiles"/>
      </div>
    </vs-prompt>
  </div>
</template>

<script>
  import axios from "axios";
  import LoadImage from "./LoadImage";

  export default {
    name: "CadastroArvore",
    components: {LoadImage},
    props: ['arvore', 'activePrompt_edit'],
    data() {
      return {
        nome: this.arvore.nome + '',
        descricao: '',
        img: []
      };
    },
    methods: {
      close() {
        this.$vs.notify({
          color: 'danger',
          title: 'Closed',
          text: 'You close a dialog!'
        });
        this.$emit('reset-active-prompt', !this.activePrompt_edit)
      },
      acceptAlert(color, message) {
        this.$vs.dialog({
          type: 'confirm',
          color: 'warning',
          title: `Confirmação`,
          text: 'Confirma o Cadastro da Espécie de Árvore?',
          accept: this.cadastrarArvore()
        })
      },
      editarArvore() {
        axios.defaults.headers.common = {
          Authorization: `Bearer ` + localStorage.getItem('token')
        };
        let formData = new FormData();

        formData.append('id', this.arvore._id);
        formData.append('nome', this.arvore.nome);
        formData.append('descricao', this.arvore.descricao);
        formData.append("file", this.img[0]);

        axios.post(process.env.HOST + "/api/arvore/updateArvore", formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        });

        this.$vs.notify({
          color: 'success',
          title: 'Sucesso!',
          text: 'Árvore Editada!'
        })
      },
      handleFile() {
        this.img = this.$refs.myFiles.files;
      },
      sendFile() {
        let formData = new FormData();
        formData.append("file", this.files[0]);
        axios.post(process.env.HOST + "/api/image/save", formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        });
      },
      fetchArvore(id) {
        axios
          .get(process.env.HOST + "/api/arvore/findArvore/" + id)
          .then(response => {
            this.nome = response.nome;
            this.descricao = response.descricao;
          });
      }
    }
  }
</script>

<style scoped>

</style>
