<template>
  <div id="footer">
    <vs-row vs-type="flex">
      <vs-col
        vs-order="3"
        vs-type="flex" vs-justify="center" vs-align="center" vs-w="3"
        id="grade">
        <!-- 3º -->
        <p> Evander Oliveira Silva 201740602004 <br>
          Gustavo Carvalho Silva 201740602005 </p>
      </vs-col>
      <vs-col
        vs-order="1"
        vs-type="flex" vs-justify="center" vs-align="center" vs-w="3">
        <!-- 1º -->
        <img
          src="https://www.unifesspa.edu.br/images/manuais/Marca_UNIFESSPA/2019/Marca-Vertical-Smbolo-Tipografia-001.png"
          id="inferno"
        >
      </vs-col>
      <vs-col
        vs-order="4"
        vs-type="flex" vs-justify="center" vs-align="center" vs-w="3">
        <!-- 4º -->
        Professor da exc pra gente pfvr <br>
        Plantaí
      </vs-col>
      <vs-col
        vs-order="2"
        vs-type="flex" vs-justify="center" vs-align="center" vs-w="3">
        <!-- 2º -->
        <p>Universidade Federal do Sul e Sudeste do Pará <br>
          Instituto de Geociências e Engenharias <br>
          Faculdade de Computação e Engenharia Elétrica <br>
          Sistemas de Informação</p>
      </vs-col>
    </vs-row>
  </div>
</template>
<style lang="css" scoped>
  #footer {
    background-image: linear-gradient(rgb(23, 201, 100), rgb(16, 82, 38));
    width: 100%;
    height: 191px;
    align-content: center;
    align-items: center;
  }

  #inferno {
    width: 150px;
    height: 150px;
    align-content: center;
    align-items: center;
    margin: 20px;
  }

  #grade {
    align-content: center;
    align-items: center;
  }


</style>
