<template>
  <div>
    <div class="google-map" ref="googleMap"></div>
    <template v-if="Boolean(this.google) && Boolean(this.map)">
      <slot
        :google="google"
        :map="map"
      />
    </template>
  </div>
</template>

<script>
  /* eslint-disable */

  import GoogleMapsApiLoader from "google-maps-api-loader"

  export default {
    props: {
      mapConfig: {
        center: {lat: -5.361663999999999, lng: -49.1249664},
        zoom: 15
      },
      apiKey: String,
    },

    data() {
      return {
        google: null,
        map: null
      }
    },

    async mounted() {
      const googleMapApi = await GoogleMapsApiLoader({
        apiKey: this.apiKey
      });
      this.google = googleMapApi;
      this.initializeMap();
    },

    methods: {
      initializeMap() {
        const mapContainer = this.$refs.googleMap;
        this.map = new this.google.maps.Map(mapContainer, this.mapConfig)
      },
      getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition((position => {
            console.log(position);
          }));
        } else {
          x.innerHTML = "Geolocation is not supported by this browser.";
        }
      }
    }
  }
</script>

<style scoped>
  .google-map {
    width: 100%;
    min-height: 100%;
  }
</style>
