<template>
  <div>
    <TreeMap id="tree-map"/>
  </div>
</template>

<script>
  /* eslint-disable */

  import TreeMap from "@/components/TreeMap";

  export default {
    name: "Home",
    components: {
      TreeMap
    }
  };
</script>

<style>
  body {
    height: 100%;
  }
  #tree-map {
    height: 90vh;
  }
</style>
