<template>
  <img :src="img" alt='Helpful alt text' :width="width" :height="width"/>
</template>

<script>
  export default {
    props: ['image_buffer', 'width'],
    name: "LoadImage",
    data () {
      return {
        img: ''
      }
    },
    methods: {
      arrayBufferToBase64(buffer) {
        var binary = '';
        var bytes = [].slice.call(new Uint8Array(buffer));
        bytes.forEach((b) => binary += String.fromCharCode(b));
        return window.btoa(binary);
      }
    },
    created() {
      let base64Flag = 'data:image/jpeg;base64,';
      let imageStr = this.arrayBufferToBase64(this.image_buffer['data'].data);
      this.img = base64Flag + imageStr
    }
  }
</script>

<style scoped>

</style>
