<template>
  <div>
    <vs-navbar parent="#app" :type="type" v-model="activeItem" class="nabarx"
               style="position: fixed; background-color: white">
      <div slot="title">
        <vs-navbar-title>
          <img src="@/assets/sprout.svg" width="15">
          Plantaí
        </vs-navbar-title>
      </div>
      <vs-navbar-item index="0" class="vs-navbar-item-success">
        <a href="#/">Home</a>
      </vs-navbar-item>
      <div v-if="!verifySession()">
        <vs-navbar-item index="1" class="vs-navbar-item-success">
          <a href="#/todas-arvores">Árvores</a>
        </vs-navbar-item>
      </div>
      <vs-navbar-item index="2" class="vs-navbar-item-success">
        <a href="#/about">Sobre</a>
      </vs-navbar-item>
      <div v-if="!verifySession() && verifyAdmin()">
        <vs-navbar-item index="3" class="vs-navbar-item-success">
          <a href="#/dashboard">Painel</a>
        </vs-navbar-item>
      </div>
      <div v-if="verifySession()">
        <vs-navbar-item index="4" class="vs-navbar-item-success">
          <vs-dropdown vs-custom-content vs-trigger-click>
            <a class="a-icon" href.prevent>
              Cadastre-se
            </a>
            <vs-dropdown-menu class="loginx">
              <h3>Cadastro</h3>
              <vs-input
                v-model="name"
                :danger="unnamed"
                danger-text="Nome incorreto"
                @focusout="nameValidation()"
                label-placeholder="Nome"
              />
              <vs-input
                v-model="registerLogin"
                label-placeholder="Login"
              />
              <vs-input
                type="email"
                v-model="email"
                :danger="noAddress"
                danger-text="E-mail incorreto"
                @focusout="emailValidation()"
                label-placeholder="E-mail"
              />
              <vs-input
                type="password"
                :danger="smallPassword"
                danger-text="A senha deve ter no mínimo 6 caracteres."
                v-model="password"
                @focusout="passwordValidation()"
                label-placeholder="Senha"
              />
              <vs-input
                type="password"
                :danger="differentPassword"
                danger-text="A senha informada não é igual a anterior"
                v-model="confirmPassword"
                @focusout="confirmPasswordValidation()"
                label-placeholder="Confirme sua senha"
              />
              <p id="accept">Ao clicar em enviar você declara estar de acordo com os <b @click="termsDialog()">termos de
                uso</b>.</p>
              <vs-button @click="cadastrarUsuario()" width="100%" color="success" type="gradient">Enviar</vs-button>
            </vs-dropdown-menu>
          </vs-dropdown>
        </vs-navbar-item>
      </div>
      <div v-if="verifySession()">
        <vs-navbar-item index="5" class="vs-navbar-item-success">
          <vs-dropdown vs-custom-content vs-trigger-click>
            <a class="a-icon" href.prevent>
              Login
            </a>
            <vs-dropdown-menu class="loginx">
              <h3>Login</h3>
              <vs-input
                success-text="Login válido"
                danger-text="Login inválido"
                label-placeholder="Login"
                v-model="login"
              />
              <vs-input
                success-text="Senha válida"
                danger-text="Senha Inválida"
                type="password"
                label-placeholder="Senha"
                v-model="passwordLogin"
              />
              <vs-button
                width="100%"
                color="success"
                type="gradient"
                @click="loginConfirm()">Login
              </vs-button>
            </vs-dropdown-menu>
          </vs-dropdown>
        </vs-navbar-item>
      </div>

      <div v-else>
        <vs-navbar-item index="6" class="vs-navbar-item-success">
          <vs-button
            color="danger"
            type="gradient"
            size="medium"
            style="padding: 6px 12px"
            @click="killSession">Sair
          </vs-button>
        </vs-navbar-item>
      </div>
    </vs-navbar>

  </div>
</template>
<script>
  import axios from 'axios';

  export default {
    data: () => ({
      activeItem: 0,
      type: "gradient",
      name: "", //dado de cadastro
      registerLogin: "", //dado de cadastro
      email: "", //dado de cadastro
      password: "", //dado de cadastro
      confirmPassword: "", //dado de cadastro
      unnamed: false, //dado de cadastro
      noAddress: false, //dado de cadastro
      smallPassword: false, //dado de cadastro
      differentPassword: false, //dado de cadastro
      noData: false, //dado de cadastro
      login: "", //dado de login
      passwordLogin: "" //dado de login
    }),
    methods: {
      //Cadastro
      nameValidation() { //O campo "nome" está vazio?
        if (this.name == "") {
          this.unnamed = true;
          return true;
        } else {
          this.unnamed = false;
          return false;
        }
      },
      //Cadastro
      emailValidation() { //O email foi inserido corretamente? Seguindo o padrão nome@dominio.extensão?
        var usuario = this.email.substring(0, this.email.indexOf("@"));
        var dominio = this.email.substring(
          this.email.indexOf("@") + 1,
          this.email.length
        );

        if (
          usuario.length >= 1 &&
          dominio.length >= 3 &&
          usuario.search("@") == -1 &&
          dominio.search("@") == -1 &&
          usuario.search(" ") == -1 &&
          dominio.search(" ") == -1 &&
          dominio.search(".") != -1 &&
          dominio.indexOf(".") >= 1 &&
          dominio.lastIndexOf(".") < dominio.length - 1
        ) {
          this.noAddress = false;
          return false;
        } else {
          this.noAddress = true;
          return true;
        }
      },
      //Cadastro
      passwordValidation() { //O email tem menos de 6 caracteres?
        if (this.password.length >= 6) {
          this.smallPassword = false;
          return false;
        } else {
          this.smallPassword = true;
          return true;
        }
      },
      //Cadastro
      confirmPasswordValidation() { //As senhas são iguais?
        if (this.password === this.confirmPassword) {
          this.differentPassword = false;
          return false;
        } else {
          this.differentPassword = true;
          return true;
        }
      },
      //Cadastro
      allValidation() { //Todos os campos estão vazios?
        if (
          this.name === "" ||
          this.email === "" ||
          this.password === "" ||
          this.confirmPassword === ""
        ) {
          this.noData = true;
          return true;
        } else {
          this.noData = false;
          return false;
        }
      },
      //Cadastro
      inputConfirm() { //Só confirma se não tiver nenhuma validação retornando true.
        if (
          this.passwordValidation() ||
          this.confirmPasswordValidation() ||
          this.nameValidation() ||
          this.emailValidation() ||
          this.allValidation()
        ) {
          this.openIncorrectAlert();
        } else {
          //Input confirmado.
          this.openCorrectAlert();
        }
      },
      cadastrarUsuario() {
        this.inputConfirm();

        axios.post(process.env.HOST + '/api/usuario/putUsuario',
          {
            login: this.registerLogin,
            senha: this.password,
            nome: this.name,
            email: this.email
          })
          .then(response => {
            localStorage.setItem('token', response.data.user.token);
            localStorage.setItem('acesso', response.data.user.acesso);
            localStorage.setItem('session', true);
          });
        this.$forceUpdate();
      }
      ,
      //Cadastro
      openIncorrectAlert() { //Aviso se tentar enviar com algo errado.
        this.$vs.dialog({
          color: "danger",
          title: `Aviso!`,
          text:
            "Existem erros nos dados inseridos no formulário. Corrija-os e tente novamente."
        });
      },
      //Cadastro
      openCorrectAlert() {
        this.$vs.dialog({
          color: "success",
          title: `Sucesso!`,
          text: "Dados inseridos corretamente"
        });
      },
      //Login
      loginConfirm() { //Ação acionada quando o login for solicitado
        let data = {};
        data.login = this.login;
        data.senha = this.passwordLogin;
        axios.post(process.env.HOST + '/api/usuario/login', {user: data})
          .then(response => {
            localStorage.setItem('token', response.data.user.token);
            localStorage.setItem('acesso', response.data.user.acesso);
            localStorage.setItem('session', true);
          });
        this.$forceUpdate();
      },
      //Cadastro
      termsDialog() {
        this.$vs.dialog({
          color: "success",
          title: `Termos de Uso`,
          text: "Todos os dados inseridos neste site estarão disponíveis para a visualização dos desenvolvedores, estes utilizarão as informações unicamente para fins acadêmicos. A permanência das informações submetidas no banco de dados não possui uma data de validade. Caso o usuário deseja ter seus dados deletados, o mesmo deve entrar em contato com os desenvolvedores, a exclusão será feita em até 60 dias. O site poderá, eventualmente, estar coletando as coordenadas de localização do usuário, essas informações são necessárias para a validação da regra de negócio."
        });
      },
      verifySession() {
        return !localStorage.getItem('session');
      },
      verifyAdmin() {
        return localStorage.getItem('acesso') == 1;
      },
      killSession() {
        localStorage.clear();
        this.$forceUpdate();
      }
    }
  };
</script>

<style lang="stylus">
  .con-type-example {
    .vs-navbar-item {
      margin-top: 10px;
    }
  }

  .a-icon {
    outline: none;
    text-decoration: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loginx, h3 {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;
  }

  p {
    max-width: 200px;
    font-size: 11px;
    padding: 5px;
  }
</style>
