<template lang="html">
  <div id="master-container">
    <div id="container">
      <div id="sub-container">
      Nome
      <vs-input
      placeholder="Insira seu nome"
      v-model="name"
      :danger="unnamed"
      danger-text="Nome incorreto"
      @focusout="nameValidation()"/>
      
      E-mail
    <vs-input
      placeholder="user@email.com"
      type="email"
      v-model="email"
      :danger="noAddress"
      danger-text="E-mail incorreto"
      @focusout="emailValidation()"/>
      Senha
      <vs-input
      type="password"
      :danger="smallPassword"
      danger-text="A senha deve ter no mínimo 6 caracteres."
      placeholder="Digite sua senha"
      v-model="password"
      @focusout="passwordValidation()"/>
      <vs-input
      type="password"
      :danger="differentPassword"
      danger-text="A senha informada não é igual a anterior"
      placeholder="Confirme sua senha"
      v-model="confirmPassword"
      @focusout="confirmPasswordValidation()"/>
      <p id="accept">Ao clicar em enviar você declara estar de acordo com os termos de uso.</p>
      <vs-button 
      @click="inputConfirm()"
      color="success" 
      type="gradient" 
      icon="done"
      >Enviar</vs-button>
  </div>
  </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: "",
      email: "",
      password: "",
      confirmPassword: "",
      unnamed: false,
      noAddress: false,
      smallPassword: false,
      differentPassword: false,
      noData: false
    };
  },
  methods: {
    nameValidation() {
      if (this.name == "") {
        this.unnamed = true;
        return true;
      } else {
        this.unnamed = false;
        return false;
      }
    },
    emailValidation() {
      var usuario = this.email.substring(0, this.email.indexOf("@"));
      var dominio = this.email.substring(
        this.email.indexOf("@") + 1,
        this.email.length
      );

      if (
        usuario.length >= 1 &&
        dominio.length >= 3 &&
        usuario.search("@") == -1 &&
        dominio.search("@") == -1 &&
        usuario.search(" ") == -1 &&
        dominio.search(" ") == -1 &&
        dominio.search(".") != -1 &&
        dominio.indexOf(".") >= 1 &&
        dominio.lastIndexOf(".") < dominio.length - 1
      ) {
        this.noAddress = false;
        return false;
      } else {
        this.noAddress = true;
        return true;
      }
    },
    passwordValidation() {
      if (this.password.length >= 6) {
        this.smallPassword = false;
        return false;
      } else {
        this.smallPassword = true;
        return true;
      }
    },
    confirmPasswordValidation() {
      if (this.password === this.confirmPassword) {
        this.differentPassword = false;
        return false;
      } else {
        this.differentPassword = true;
        return true;
      }
    },
    allValidation(){
      if(this.name === "" ||
        this.email === "" ||
        this.password === "" ||
        this.confirmPassword === ""){
          this.noData = true
          return true
        }else{
          this.noData = false
          return false
        }
    },
    inputConfirm() {
      if (
        this.passwordValidation() ||
        this.confirmPasswordValidation() ||
        this.nameValidation() ||
        this.emailValidation() ||
        this.allValidation()
      ) {
        this.openIncorrectAlert();
      } else {
        //Input confirmado.
        this.openCorrectAlert();
      }
    },
    openIncorrectAlert() {
      this.$vs.dialog({
        color: "danger",
        title: `Aviso!`,
        text:
          "Existem erros nos dados inseridos no formulário. Corrija-os e tente novamente."
      });
    },
    openCorrectAlert() {
      this.$vs.dialog({
        color: "success",
        title: `Sucesso!`,
        text: "Dados inseridos corretamente"
      });
    }
  }
};
</script>
<style lang="css" scoped>
pre {
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
}
#container {
  background-color: rgba(114, 224, 120, 0.8);
  border-radius: 10px;
  width: 250px;
  height: fit-content;
  justify-content: center;
  align-items: center;
}
#master-container {
  justify-content: center;
  align-items: center;
}
#sub-container {
  margin: 15px;
  padding-top: 5px;
}
#accept {
  text-align: justify;
}
</style>