<template>
  <div>
    <h2>Todas as Espécies de Árvore da Plataforma</h2>
    <div v-for="arvore in arvores" v-bind:key="arvore.id">
      <vs-col vs-justify="center" vs-align="center" vs-w="3" vs-sm="12">
        <vs-row vs-justify="center">
          <vs-card class="cardx">
            <div slot="header">
              <h3>{{ arvore.nome }}</h3>
            </div>
            <div slot="media">
              <LoadImage :image_buffer="arvore.img" />
            </div>
            <div>
              <span>{{arvore.descricao}}</span>
            </div>
          </vs-card>
        </vs-row>
      </vs-col>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import LoadImage from "./LoadImage";

export default {
  name: "TodasArvores",
  components: { LoadImage },
  data() {
    return {
      arvores: null,
      loading: true
    };
  },
  created() {
    axios.defaults.headers.common = {
      Authorization: `Bearer ` + localStorage.getItem('token')
    };
    axios
      .get(process.env.HOST + "/api/arvore/findAllArvore")
      .then(response => (this.arvores = response.data["data"] ))
  }

};
</script>

<style lang="stylus">
.cardx {
  margin: 15px;
}
</style>
