<template>
  <GoogleMapLoader
    :mapConfig="mapConfig"
    apiKey="AIzaSyAnDE1EWx2jDRQC3RpkjXSTyEAxn_vy9wc"
  >
    <template slot-scope="{ google, map }">
      <GoogleMapMarker
        v-for="marker in markers"
        :key="marker.id"
        :marker="marker"
        :google="google"
        :map="map"
      />
    </template>
  </GoogleMapLoader>
</template>

<script>
/* eslint-disable */

import GoogleMapLoader from "./GoogleMapLoader";
import GoogleMapMarker from "./GoogleMapMarker";
import { mapSettings } from "@/constants/mapSettings";
import axios from "axios";

export default {
  components: {
    GoogleMapLoader,
    GoogleMapMarker,
    // GoogleMapLine
  },

  data() {
    return {
      markers: [],
      lines: [
        {
          id: "1",
          path: [{ lat: 3, lng: 101 }, { lat: 5, lng: 99 }]
        },
        {
          id: "2",
          path: [{ lat: 5, lng: 99 }, { lat: 6, lng: 97 }]
        }
      ]
    };
  },

  computed: {
    mapConfig() {
      return {
        ...mapSettings,
        center: this.mapCenter
      };
    },

    mapCenter() {
      return {lat: -5.361663999999999, lng: -49.1249664};
    }
  },
  created() {
    axios
      .get(process.env.HOST + "/api/marcador/findAllMarcador")
      .then(response => {
        for (let i=0; i < response.data["data"].length; i++) {
          this.markers.push({position: { lat: response.data["data"][i].lat, lng: response.data["data"][i].lng }})
        }
      })
  }
};
</script>
