<template>
  <div id="app">
    <NavBar></NavBar>
<!--    <div id="app-content">-->
      <router-view id="app-content"/>
<!--    </div>-->
<!--    <Footer></Footer>-->
  </div>
</template>

<script>

  import NavBar from '@/components/NavBar.vue'
  import Footer from '@/components/Footer.vue'

  export default {
    name: 'App',
    components: {NavBar, Footer}
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Montserrat&display=auto');

  body {
    font-family: 'Montserrat', 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-align: center; */
    color: #2c3e50;
  }
</style>

<style scoped>
  #app-content {
    padding-top: 50px;
  }
</style>
